@(jobForm : Form[Job])
@main("Job Info") {

<h1>Jobs Information</h1>

@helper.form(action = routes.Jobs.save()) {

    <fieldset>
        <legend>Job</legend>
        @helper.inputText(jobForm.field("code"), '_label -> "code")
        @helper.inputText(jobForm.field("description"), '_label -> "Description")
    </fieldset>
    <input type="submit" value="save"/>

    }
}